body{
    height: 100vh;
    background-color: black;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 100%;
    width: auto;
    
    
}

.groen{
    background-color: green;
}

.wit{
    background-color: white;
}