<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I Love Web</title>
    <link rel="stylesheet" href="nieuw.css">
  </head>
  <body>
    <section class="chessboard">
        <button class="piece" style="grid-area: a8;">♜</button>
        <button class="piece" style="grid-area: b8;">♞</button>
        <button class="piece" style="grid-area: c8;">♝</button>
        <button class="piece" style="grid-area: d8;">♛</button>
        <button class="piece" style="grid-area: e8;">♚</button>
        <button class="piece" style="grid-area: f8;">♝</button>
        <button class="piece" style="grid-area: g8;">♞</button>
        <button class="piece" style="grid-area: h8;">♜</button>
        <button class="piece" style="grid-area: a7;">♟</button>
        <button class="piece" style="grid-area: b7;">♟</button>
        <button class="piece" style="grid-area: c7;">♟</button>
        <button class="piece" style="grid-area: d7;">♟</button>
        <button class="piece" style="grid-area: e7;">♟</button>
        <button class="piece" style="grid-area: f7;">♟</button>
        <button class="piece" style="grid-area: g7;">♟</button>
        <button class="piece" style="grid-area: h7;">♟</button>
        
        <button class="piece" style="grid-area: a1;">♖</button>
        <button class="piece" style="grid-area: b1;">♘</button>
        <button class="piece" style="grid-area: c1;">♗</button>
        <button class="piece" style="grid-area: d1;">♕</button>
        <button class="piece" style="grid-area: e1;">♔</button>
        <button class="piece" style="grid-area: f1;">♗</button>
        <button class="piece" style="grid-area: g1;">♘</button>
        <button class="piece" style="grid-area: h1;">♖</button>
        <button class="piece" style="grid-area: a2;">♙</button>
        <button class="piece" style="grid-area: b2;">♙</button>
        <button class="piece" style="grid-area: c2;">♙</button>
        <button class="piece" style="grid-area: d2;">♙</button>
        <button class="piece" style="grid-area: e2;">♙</button>
        <button class="piece" style="grid-area: f2;">♙</button>
        <button class="piece" style="grid-area: g2;">♙</button>
        <button class="piece" style="grid-area: h2;">♙</button> 
    </section>
    <a href="/voortgang"></a>
    <script src="chad.js" defer></script>
  </body>
</html>