<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I Love Web</title>
    <link rel="stylesheet" href="leuk.css">
  </head>
  <body>
    <section>
        <details>
            <summary>Prime MVG 2016</summary>
            MICHAEL VAN GERWEN
        </details>
        
    </section>

  </body>



</html>